.row {
    display: flex;
    margin-bottom: 0.2rem;
}

.row > span {
    margin-left: .2rem;
}

.row > div {
    flex-flow: unset;
}

.title {
    line-height: 1.60;
    font-size: 1.3rem;
    height: 2rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.iconTooltip > div {
    width: 16px;
    height: 16px;
}

@media (max-width: 600px) { 
    .title {
        line-height: 1.2;
        font-size: 0.8rem;
        height: 1rem;
    }
}
