.simpleTable {
  /*  border-radius: 10px; */
    border: 1px solid rgba(184, 184, 184, 1);
   /* padding: 0 0.7em;*/
    margin: 1em auto;
    width: 98%;
    border-collapse:collapse;
    font-size: 14px;
}

.simpleTableHoverable tr:hover{
    background-color: aqua;
}       

.simpleTable tr th{
    padding: 0.3em 0.5em;
}
.simpleTable tr td{
    padding: 0.3em 0.5em;
}

.simpleTableZebra tr:nth-child(even) {background: #CCC}
.simpleTableZebra tr:nth-child(odd) {background: #FFF}

.simpleTableHeader {
    text-align: left;
    height: 2.3em;
}
/*
.simpleTable tr td:not(:first) {
    text-align: right;
}*/
