.tableContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 3em;
}


.infoTable {
    min-width: 650px;
}

table.reactTable {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

table.reactTable thead th {
    padding: 0.5em;
    background: grey;
}   

table.reactTable tbody tr {
    background: #ccc;
}   

table.reactTable tbody tr td{
    text-align: center;
    padding: 0.5em;
}   

.cellEdit {
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: 0.3rem;
}

.headerMetricName{
    max-width: 30px;
    background-color: red;
    color: red!important;
}


@media (max-width: 600px) { 
    table.reactTable {
        font-size: 12px;
    }

    table.reactTable thead th{
        padding: 0.3em;
    }
    table.reactTable tbody tr td{
        padding: 0.3em;
    }

    .sticky {
        position: sticky !important;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #ababab;
        max-width: 5em;
        font-size: 0.6em;
      }

       .infoCol {
          /*  width: 10%; */
       /*   max-width: 5em; */
       /*  font-size: 0.6em; */
      } 
}
