table.reactTable {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

/* table.reactTable thead {
    background: red;
}  */ 

table.reactTable thead th {
    padding: 0.5em;
    background: grey;
}   

table.reactTable tbody tr {
    background: #ccc;
}   

table.reactTable tbody tr td{
    text-align: center;
    padding: 0.5em;
}   

.cellEdit {
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: 0.3rem;
}
