
.navTab {
    padding: 0 2rem;
    background: white;
    padding: 1em;
    height: 2em;
    display: flex;
    align-items: center;
}

.navTab > div {
    margin-left: 1em;
    color: black;
}
  
.pageBody {
    width: 100%;
    height: 100%;
    padding: 2em;
}

.tabHead {
    border-bottom: 1px solid rgba(184, 184, 184, 1);
    display: flex;
    background: white;
}

.tabContainer {
    position: relative;
    height: 90%;
    border-radius: 10px;
    border: 1px solid rgba(184, 184, 184, 1);
    padding: 0 0.7em;
}

.tabBody {
    height: 100%;
}

.tabBody > div {
    position: relative;
}

.tab {
    padding: 1em;
    color: rgba(184, 184, 184, 1);
    cursor: pointer;
}

.tabSelected{
    padding: 1em;
    cursor: pointer;
    color: #0070F3;
    border-bottom: 2px solid #0070F3;
}

@media (max-width: 600px) { 

    .tabBody {
        width: 100%;
       
        position: absolute;
        left: 0;
        padding: 0;
    }

    .tabContainer {
        border: none;
    }
}
